{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Alpine Plugins -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- Alpine Core -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <meta name="csrfmiddlewaretoken" content="{{ csrf_token }}" />
    <title>War</title>
  </head>
  <body>
    <div class="page-wrap">
      <main class="main">
        <div class="overlay" id="overlay"></div>
        <div x-data="basketStore" class="container">
          <section class="main__fullcontent basket">

          </section>
        </div>
      </main>
    </div>

    <script>
      document.addEventListener("alpine:init", () => {
        Alpine.data("basketStore", () => ({
          items: Alpine.$persist([]).as("basket"),
          summary: {
            sumPriceNoDiscount: 0,
            sumDiscountProduct: 0,
            sumPrice: 0,
          },
          order: {
            pib: Alpine.$persist("").as("pib"),
            phone: Alpine.$persist("").as("phone"),
            postOfficeId: Alpine.$persist("").as("postOfficeId"),
            city: Alpine.$persist("").as("city"),
            postOffice: Alpine.$persist("").as("postOffice"),
          },
          init() {
            this.updateBasket();
            this.$watch("items", () => {
              this.updateBasket();
            });
          },
          editQuantity(itemIndex, action, temId) {
            if (itemIndex !== -1) {
              if (action === "plus") {
                this.items[itemIndex].productQuantity++;
              } else if (
                action === "minus" &&
                this.items[itemIndex].productQuantity > 1
              ) {
                this.items[itemIndex].productQuantity--;
              } else if (
                action === "minus" &&
                this.items[itemIndex].productQuantity === 1
              ) {
                this.removeItem(temId);
              }
            }
          },
          removeItem(id) {
            this.items = this.items.filter((item) => item.itemId !== id);
            this.activeItems = this.activeItems.filter((i) => i !== id);
          },
          validateOrder() {
            const arrayMessage = [];
            if (this.order.pib.trim() === "") {
              arrayMessage.push('ПІБ замовника є обов\'язковим;');
            }
            if (
              this.order.phone.trim() === "" ||
              this.order.phone.trim() === "+"
            ) {
              arrayMessage.push(
                "Номер телефона замовника є обов\'язковим;"
              );
            }
            if (this.order.city.trim() === "") {
              arrayMessage.push("Місто є обов\'язковим;");
            }
            if (this.order.postOfficeId.trim() === "") {
              arrayMessage.push(
                "Відділення пошти є обов\'язковим;"
              );
            }
            if (this.order.postOffice.trim() === "") {
              arrayMessage.push(
                "Спосіб доставки є обов\'язковим;"
              );
            }
            if (this.summary.sumPrice === 0) {
              arrayMessage.push("Кошик порожній ( ;");
            }
            return arrayMessage.join("\n");
          },
          formatedBody() {
            return this.items.map((item) => {
              return {
                productId: item.productId,
                volumeId: item.volumeId,
                wrapperId: item.wrapperId,
                productQuantity: item.productQuantity,
              };
            });
          },
          getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
              const cookies = document.cookie.split(";");
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                  cookieValue = decodeURIComponent(
                    cookie.substring(name.length + 1)
                  );
                  break;
                }
              }
            }
            return cookieValue;
          },
          updateBasket() {
            const body = {
              order_list: this.formatedBody(),
            };
            const csrftoken = this.getCookie("csrftoken");
            fetch("/basket/", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
              },
              body: JSON.stringify(body),
            })
              .then((response) => response.json())
              .then((data) => {
                this.summary.sumPriceNoDiscount = data.sumPriceNoDiscount;
                this.summary.sumDiscountProduct = data.sumDiscountProduct;
                this.summary.sumPrice = data.sumPrice;
              })
              .catch((error) => {
                console.error("Error sending basket:", error);
              });
          },
          sendOrder() {
            const errMess = this.validateOrder();
            if (errMess) {
              alert(errMess);
              return;
            }
            const body = {
              order_list: this.formatedBody(),
              ...this.order,
            };
            const csrftoken = this.getCookie("csrftoken");
            fetch("/submit-order/", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
              },
              body: JSON.stringify(body),
            })
              .then((response) => response.json())
              .then((data) => {
                this.items = [];
              })
              .catch((error) => {
                console.error("Error sending basket:", error);
              });
          },
        }));
      });
    </script>
  </body>
</html>
