{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ product.name }}</title>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
  <script defer src="{% static 'js/thumbnail.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/thumbnailPhoto.css' %}"/>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
{% include 'elements/header.html' %}

  <div class="container__inner container__main" x-data="Product">
    <p class="main__title">головна / товар</p>
    <p class="main__title__mini">товар</p>
    <div class="product__content">
      <div class="product__images">
        <img src="{{ product.photo.url }}" class="thumbnail product__main__img" alt="">
        <div class="product__showcase">
          {% for image in product.images.all %}
          <div class="product__showcase__img">
            <img src="{{ image.image.url }}" class="thumbnail" alt="">
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="product__info">
        <div class="product__main__info">
          <div class="product__name">
            <p class="product__name__text">{{ product.name }}</p>
            <div class="product__inspect__btns">
              <a class="product__inspect__btn" href="{% url 'detail' next_product_id %}">
                <img src="{% static 'icon/arrow-left.png' %}" alt="">
              </a>
              <a class="product__inspect__btn" href="{% url 'detail' previous_product_id %}">
                <img src="{% static 'icon/arrow-right.png' %}" alt="">
              </a>
            </div>
          </div>
          <p class="product__price" > <span x-text="product.price"></span>₴</p>
        </div>
        <div class="dashed__line"></div>
        <div class="product__desc">
          <p class="product__desc__text">
          {{ product.description }}
          </p>
        </div>
        <div class="dashed__line"></div>
        <div class="product__info__size">
          {% regroup product.options.all|dictsort:"group.id" by group.id as grouped_options %}
          {% for group in grouped_options %}
          <div class="product__info__size__container">
            <button class="product__info__select__color" name="product__info__select__color" value="options" @click.stop="toggleSelect({{ group.grouper }})" >
              <div class="color" x-show="getShowColor({{ group.grouper }})" :style="{ 'background-color': activeOption.n{{ group.grouper }}.color }" ></div>
              <div class="product__info__select__info">
                <span class="card__span" x-html="activeOption.n{{ group.grouper }}.value"></span>
                <span x-show="activeOption.n{{ group.grouper }}.additional_price" x-text="'+ ' + activeOption.n{{ group.grouper }}.additional_price + '₴'"></span>
              </div>
            </button>
            <div class="product__info__options__color" :class="{ 'product__active': isOptionSelected({{ group.grouper }})}">
              {% for option in group.list %}
              <div class="product__info__option" @click.stop="toggleOption({{ group.grouper }},{{ option.id }})">
             {% if option.color %}
                  <div class="color" style="background-color: {{ option.get_color }}"></div>
              {% endif %}
                <p>{{ option.value|safe }} {% if option.additional_price %} + {{ option.additional_price }}₴ {% endif %}</p>
              </div>
               {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="product__quantity__container">
          <button id="addToCartBtn" class="product__addtocart__btn" @click="addBasket" :class="{ 'active': isBuyButtonActive}">
            <img class="product__basket" src="{% static 'icon/cart.svg' %}" alt="">
            <img class="product__basket__check" src="{% static 'icon/basket-check.png' %}" alt="">
            <p class="product__cart__text" x-text="buyButtonText"></p>
          </button>
          <div class="product__quantity__btns">
            <button class="quantity__btn">
              <img src="{% static 'icon/minus.png' %}" alt="" @click.stop="editQuantity('minus')">
            </button>
            <p class="product__quantity" x-text="product.productQuantity"></p>
            <button class="quantity__btn">
              <img src="{% static 'icon/plus.png' %}" alt="" @click.stop="editQuantity('plus')">
            </button>
          </div>
        </div>
        <div class="product__more__container">
          <a target="_blank" class="product__more__link" href="https://www.instagram.com/warrior_spir1t/profilecard/?igsh=YWV4dTl2MHdzY28w">
            <p class="product__more__about">Детальніше про товар</p>
            <img src="{% static 'icon/instagram.svg' %}" alt="">
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="container__inner also__buy__container">
    <div class="main__wrapper__hoodies">
      <div class="hoodies__upper">
        <p class="hoodies__upper__text">З цим купують</p>
        <div class="hoodies__dashed__line"></div>
      </div>



      <div class="hoodies__cards">
        {% for product in top_products %}
        {% include 'elements/product.html' %}
      {% endfor %}


      </div>
    </div>
  </div>
    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-image">
        <div id="caption"></div>
    </div>

    <script>

      const addToCartBtn = document.getElementById('addToCartBtn');
      const basketImg = addToCartBtn.querySelector('.product__basket');
      const checkImg = addToCartBtn.querySelector('.product__basket__check');



      addToCartBtn.addEventListener('click', function() {
        if (window.innerWidth <= 640) {
          basketImg.style.display = 'none';
          checkImg.style.display = 'block';

          addToCartBtn.style.border = '1px solid transparent';
          addToCartBtn.style.borderRadius = '6px';
          addToCartBtn.style.background = 'linear-gradient(to right, #141F25,     #141F25), var(--clr-gradient)';
          addToCartBtn.style.backgroundClip = 'padding-box, border-box';
          addToCartBtn.style.backgroundOrigin = 'padding-box, border-box';
        }
      });

      document.addEventListener("alpine:init", () => {
        Alpine.data("Product", () => ({
          basket: Alpine.$persist([]).as("basket"),
          buyButtonText:"У кошик",
          isBuyButtonActive: false,
          activeSelect: [],
          activeOption:{},
          product: {
            id: "{{ product.id }}",
            name: "{{ product.name }}",
            photo: "{{ product.photo.url }}",
            basePrice: {{ product.price }},
            price: {{ product.price }},
            productQuantity: 1,
            activeOptions: [],
          },
          options: [],
          init() {
            // Load options from the template using regroup
          this.options = [
              {% for option in product.options.all %}
                {
                  id: {{ option.id }},
                  group_id: {{ option.group.id }},
                  group_name: "{{ option.group.name|escapejs }}",
                  value: "{{ option.value|escapejs }}",
                  additional_price: {{ option.additional_price }},
                  is_required: {{ option.group.is_required|yesno:'true,false' }},
                  color: "{{ option.get_color }}",
                },
              {% endfor %}
            ];

            // Automatically select cheapest options for required groups
            const requiredGroups = this.options.filter(option => option.is_required);
            const cheapestOptions = requiredGroups.reduce((result, option) => {
              if (!result[option.group_id] || option.additional_price < result[option.group_id].additional_price) {
                result[option.group_id] = option;
              }
              return result;
            }, {});

            // Set default selected options
            Object.values(cheapestOptions).forEach(option => {
              this.product.activeOptions.push(option);
              this.activeOption[`n${option.group_id}`] = option;
            });

            // Update total price
            this.updatePrice();
          },
          toggleOption(group_id, option_id) {
            // Deselect previous option from the same group
            this.product.activeOptions = this.product.activeOptions.filter(
              activeOption => activeOption.group_id !== group_id
            );

            // Add the new option
            const option = this.options.find(item => item.id === option_id)
            this.product.activeOptions.push(option);
            this.activeOption[`n${option.group_id}`] = option;
            //видалити
            this.activeSelect = this.activeSelect.filter(id=>id !== group_id)
            // Update total price
            this.updatePrice();
          },
            editQuantity(action){
              if (action === "plus") {
                this.product.productQuantity++;
              } else if (
                action === "minus" &&
                this.product.productQuantity > 1
              ) {
                this.product.productQuantity--;
            }
          },
          updatePrice() {
            const additionalPrice = this.product.activeOptions.reduce(
              (total, option) => total + option.additional_price,
              0
            );
            this.product.price = this.product.basePrice + additionalPrice;
          },
           generateRandomString() {
              const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
              let result = '';
              const length = 10; // довжина рядка

              for (let i = 0; i < length; i++) {
                  result += characters.charAt(Math.floor(Math.random() * characters.length));
              }

              return result;
          },
          addBasket() {
            this.basket.push({
              ...this.product,
              "itemID": this.generateRandomString()
            });
            this.buyButtonText = "Додано";
            this.isBuyButtonActive = true;
            setTimeout(() => {
              this.buyButtonText = "У кошик";
              this.isBuyButtonActive = false;
            }, 2000);
          },
          isOptionSelected(group_id) {
            return this.activeSelect.some(id => id === group_id);
          },
          getShowColor(group_id) {
            return !(this.activeOption[`n${group_id}`].color == "None");
          },
          toggleSelect(group_id) {
            if (this.isOptionSelected(group_id)){
              this.activeSelect = this.activeSelect.filter(id=>id !== group_id)
            }else{
              this.activeSelect.push(group_id);
            }
          },
        }));
      });
    </script>
</body>
</html>