{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Головна</title>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

</head>

<body>

{% include 'elements/header.html' %}

  <div class="container__hero">
    <div class="hero__container">
      <img class="hero__text" src="{% static 'img/hero-text.png' %}" alt="">
      <img class="hero__text__mini" src="{% static 'img/hero-text-mini.png' %}" alt="">
    </div>
  </div>

  <div class="container__main">
    <div class="container__inner">
      <div class="main__wrapper__cards">
        <div class="main__wrapper__card">
          <img src="{% static 'icon/checkmark.png' %}" alt="">
          <p class="card__title">Надійність і якість</p>
          <p class="card__desc">Весь товар виготовляється з якісних матеріалів для довговічності та комфорту.</p>
          <div class="card__dashed__line"></div>
        </div>
        <div class="main__wrapper__card">
          <img src="{% static 'icon/gerb.png' %}" alt="">
          <p class="card__title">Патріотичний дизайн</p>
          <p class="card__desc">Унікальна символіка створює стильний вигляд, що підкреслює підтримку захисникам.</p>
          <div class="card__dashed__line"></div>
        </div>
        <div class="main__wrapper__card">
          <img src="{% static 'icon/hands.png' %}" alt="">
          <p class="card__title"> Підтримка військових</p>
          <p class="card__desc">Частина йде на допомогу армії та благодійні проекти, що надають цінності кожній покупці.
          </p>
          <div class="card__dashed__line"></div>
        </div>
      </div>
    </div>

{% for category in categories %}
    <div class="container__inner">
      <div class="main__wrapper__tshirts" x-data="scrollCarousel" x-init="initialize">
        <div class="tshirts__upper">
          <p class="tshirts__upper__text">{{ category.name }}</p>
          <div class="tshirts__dashed__line"></div>
          <div class="tshirts__arrows">
            <button class="arrow__left">
              <img src="{% static 'icon/arrow-left.png' %}" alt="" @click="scroll(-1)">
            </button>
            <button class="arrow__right">
              <img src="{% static 'icon/arrow-right.png' %}" alt="" @click="scroll(1)">
            </button>
          </div>
        </div>
        <div x-ref="carousel" class="tshirts__cards carousel" >

      {% for product in category.products.all|dictsort:"view_count" %}
        {% include 'elements/product.html' %}
      {% endfor %}

        </div>
      </div>
      </div>
      {% if not forloop.last %}
      {% include 'elements/help.html' %}
      {% endif %}
    {% endfor %}
    </div>

 <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('scrollCarousel', () => ({
                currentIndex: 0,
                itemWidth: 0,
                initialize() {
                    this.itemWidth = this.$refs.carousel.children[0].offsetWidth;

                    window.addEventListener('resize', () => {
                        this.itemWidth = this.$refs.carousel.children[0].offsetWidth;
                    });
                },
                scroll(direction) {
                    this.currentIndex += direction;

                    const maxIndex = this.$refs.carousel.children.length - Math.floor(this.$refs.carousel.offsetWidth / this.itemWidth);
                    this.currentIndex = Math.max(0, Math.min(this.currentIndex, maxIndex));
                    console.log(this.$refs.carousel.offsetWidth);
                    console.log(this.itemWidth);
                    this.$refs.carousel.scrollTo({
                        left: this.currentIndex * this.itemWidth,
                        behavior: 'smooth',
                    });
                },
            }));
        });
    </script>

{% include 'elements/footer.html' %}
</body>

</html>