{% load static %}
<div class="container__header">
  <div class="container__inner">
    <nav class="navbar">
      <div class="navbar__socials">
        <a target="_blank" href="https://t.me/warr1or_01">
          <img src="{% static 'icon/tg.png' %}" alt="tg icon">
        </a>
        <a target="_blank" href="https://www.instagram.com/warrior_spir1t/profilecard/?igsh=YWV4dTl2MHdzY28w">
          <img src="{% static 'icon/instagram.png' %}" alt="instagram icon">
        </a>
        <p class="navbar__number">+380 (99) (071) (41) (07)</p>
      </div>
      <div class="navbar__logo">
        <a href="{% url 'index' %}">
          <img src="{% static 'icon/logo-nav.png' %}" alt="war spirit logo">
        </a>
      </div>
      <div class="navbar__catalog">
        <a class="navbar__cart" href="{% url 'basket' %}">
          <img src="{% static 'icon/shopping-cart.png' %}" alt="shopping cart">
          <p class="navbar__cart__text">кошик</p>
        </a>
        <a class="navbar__catalog__btn" href="{% url 'index' %}">
          catalog
        </a>
        <a class="navbar__catalog__mini" href="{% url 'basket' %}">
          <img src="{% static 'icon/shopping-cart.png' %}" alt="">
        </a>
      </div>
    </nav>
  </div>
  <div class="break__line"></div>
</div>