.break__line {
  border-top: 1px solid #535252;
  height: 1px;
  width: 100%;
}

.break__line__hr {
  display: none;
}

.container__header {
  background-color: var(--clr-blackish);
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navbar__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.navbar__number {
  color: var(--clr-white);
  font-weight: 500;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  user-select: none;
}

.navbar__catalog__mini {
  display: none;
}

.navbar__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.navbar__cart__text {
  color: var(--clr-white);
  font-weight: 500;
  text-transform: uppercase;
  height: 1.65rem;
  display: flex;
  align-items: end;
}

.navbar__catalog__btn {
  border: 1px solid transparent;
  border-radius: 6px;
  background:
    linear-gradient(to right, #141F25, #141F25),
    var(--clr-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: var(--clr-white);
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
}

.container__contact {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 50%);
  display: none;
  align-items: center;
  justify-content: center;
}

.contact__form__container {
  border: 1px solid transparent;
  background:
    linear-gradient(to right, #141F25, #141F25),
    var(--clr-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  width: 45rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.contact__form__wrapper {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.contact__form__upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact__form__title {
  background-image: var(--clr-gradient);
  color: transparent;
  background-clip: text;
  font-size: 2rem;
}

.contact__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 90%);
  color: rgba(255, 255, 255, 60%);
  font-size: 1.15rem;
  padding: 0.35rem 0;
}

.contact__input:focus {
  outline: none;
}

.contact__input::placeholder {
  color: rgba(255, 255, 255, 60%);
}

.contact__inputs__mid,
.contact__inputs__footer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.contact__inputs__mid input,
.contact__inputs__footer input {
  width: 100%;
}

.contact__phonenumber {
  flex: 6;
}

.contact__branch__number {
  flex: 3;
}

.contact__mail {
  flex: 4;
}

.contact__city {
  flex: 5;
}

.contact__city__mini,
.contact__mail__mini,
.contact__branch__number__mini {
  display: none;
}

.contact__send__btn {
  border: 1px solid transparent;
  border-radius: 6px;
  background:
    linear-gradient(to right, #141F25, #141F25),
    var(--clr-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--clr-white);
  margin-top: 1rem;
}

.container__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container__cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  gap: 2rem;
  width: 100%;
}

.cart__text {
  background-image: var(--clr-gradient);
  color: transparent;
  background-clip: text;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.cart__content {
  display: flex;
  gap: 3rem;
}

.cart__cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 6;
  margin-bottom: 5rem;
}

.cart__card {
  display: flex;
  gap: 2rem;
  height: 10rem;
}

.cart__img__container {
  flex: 1;
  height: 100%;
}

.cart__img {
  width: 100%;
  height: 100%;
}

.card__info {
  display: flex;
  flex: 4;
  flex-direction: column;
  width: 100%;
}

.card__name {
  color: var(--clr-white);
  font-size: 1.4rem;
}

.card__span {
  display: flex;
}

.card__span h1,
.card__span p,
.card__span h2,
.card__span h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.card__size__color {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 0;
}

.card__size {
  color: rgba(255, 255, 255, 70%);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  gap: 0.5rem;
}

.card__price {
  color: var(--clr-white);
  align-self: flex-end;
  font-size: 1.5rem;
}

.card__price__quantity {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  justify-self: flex-end;
}

.card__quantity__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.card__quantity {
  color: var(--clr-white);
  font-size: 1.5rem;
}

.dashed__line {
  width: 100%;
  height: 1px;
  background-image:
    linear-gradient(to right, #D2BD0F 50%, transparent 50%);
  background-size: 35px 2px;
}

.break__line__vr {
  width: 1px;
  height: 20rem;
  background: linear-gradient(to bottom, #D2BD0F, #6C6108);
  border: 0;
}

.break__line__checkout {
  height: 1px;
  border-top: 1px solid #fff;
  width: 100%;
}

.cart__checkout {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.checkout__title {
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

.price__count {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.price__without__dc,
.total__dc,
.checkout__packaging {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grey__text {
  color: rgb(255, 255, 255, 60%);
  font-size: 1.2rem;
}

.cost__without__dc,
.total__dc__amount,
.packaging__cost {
  color: rgba(255, 255, 255, 90%);
  font-size: 1.2rem;
}

.checkout__total__cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.total__cost__text,
.total__cost {
  color: rgba(255, 255, 255, 90%);
  font-size: 1.2rem;
  font-weight: 600;
}

.checkout__order__btn {
  border: 1px solid transparent;
  border-radius: 6px;
  background:
    linear-gradient(to right, #141F25, #141F25),
    var(--clr-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-top: 0.6rem;
}

@media (max-width: 1536px) {}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {

  .cart__content {
    display: flex;
    flex-direction: column;
  }

  .break__line__vr {
    display: none;
  }

  .break__line__hr {
    width: 100%;
    height: 1px;
    background: linear-gradient(to bottom, #D2BD0F, #6C6108);
    border: 0;
    display: inline-block;
  }

  .cart__content {
    gap: 5rem;
  }

  .cart__checkout {
    margin-bottom: 5rem;
  }
}

@media (max-width: 768px) {

  .contact__form__wrapper {
    padding: 2rem 1.5rem;
  }

  .contact__form__title {
    font-size: 1.5rem;
  }

  .contact__send__btn {
    font-size: 1rem;
  }

  .contact__input {
    font-size: 1rem;
  }

  .contact__input::placeholder {
    font-size: 1rem;
  }

  .contact__form__container {
    width: 30rem;
  }

  .contact__inputs__mid {
    display: flex;
    flex-direction: column;
  }

  .contact__city,
  .contact__mail,
  .contact__branch__number {
    display: none;
  }

  .contact__city__mini,
  .contact__mail__mini,
  .contact__branch__number__mini {
    display: flex;
  }

  .navbar__number {
    display: none;
  }

  .navbar__cart,
  .navbar__catalog__btn {
    display: none;
  }

  .navbar__catalog__mini {
    display: block;
    border: 1px solid transparent;
    border-radius: 6px;
    background:
      linear-gradient(to right, #141F25, #141F25),
      var(--clr-gradient);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: var(--clr-white);
    padding: 0.5rem 0.5rem;
    text-transform: capitalize;
    user-select: none;
  }
}

@media (max-width: 640px) {

  .cart__card {
    height: 8rem;
  }

  .cart__img__container {
    flex: 2;
  }

  .contact__form__title {
    font-size: 1.3rem;
  }

  .contact__send__btn {
    font-size: 0.9rem;
  }

  .contact__input {
    font-size: 0.9rem;
  }

  .contact__input::placeholder {
    font-size: 0.9rem;
  }

  .card__name {
    font-size: 1.25rem;
  }

  .card__size {
    font-size: 1.1rem;
  }

  .card__price {
    font-size: 1.15rem;
  }

  .card__quantity {
    font-size: 1.2rem;
  }
}

@media (max-width: 430px) {
  .cart__card {
    gap: 1rem;
  }
}